<header class="hero is-fullheight" id="header">
  <div class="hero-head">
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item" href="{{ site.url }}/">
          <img src="/img/white-logo.png" alt="{{ site.title }}">
        </a>
      </div>

      <span id="nav-toggle" class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <div id="nav-menu" class="nav-right nav-menu">
        <a class="nav-item" href="/#portfolio">PORTFOLIO</a>
        <a class="nav-item" href="/#team">TEAM</a>
        <a class="nav-item" href="/#contact">CONTACT</a>
        <a class="nav-item" href="http://n17r.com">N17R</a>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-one-third">
          <img src="/img/apps-grid.png" alt="{{ site.title }}">
        </div>
        <div class="column">
          <h3 class="title is-3 animated fadeInDown">Zero to One Labs</h3>
          <h1 class="title is-1 animated fadeInUp">We’re one year old original mobile apps studio based in Almaty, Kazakhstan</h1>
          <h4 class="title is-4 animated fadeInUp">So far our apps have been downloaded 250,000+ times and were featured on Product Hunt multiple times. NB: apart from that, every summer we run nFactorial Incubator (N17R.com), unique mix of a coding bootcamp and a startup incubator with the mission to build 50 original mobile apps with 500,000+ downloads combined in 10 weeks.</h4>
          <div class="block animated fadeInUp">
            <a class="button is-large is-outlined" href="{{ site.contactUrl }}">Start a project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-foot">
    <div class="container">
      <div class="tabs is-centered">
        <ul>
          <li><a class="learn-button" href="#portfolio">Learn more<svg width="16" height="8" viewBox="0 0 16 9" xmlns="http://www.w3.org/2000/svg"><path d="M15.34.495L8.028 7.87.715.495" stroke="#fff" stroke-width="1.5px" fill="none"></path></svg></a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
