<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html itemscope itemtype="http://schema.org/WebSite" lang="ru" class="no-js">
<!--<![endif]-->

{% include "./_partials/head.html" %}

<body>
  {% include "./_partials/header.html" %}
  {% include "./_partials/portfolio.html" %}
  {% include "./_partials/team.html" %}
  {% include "./_partials/footer.html" %}
</body>

</html>
